<h1>BookMentor</h1>

<form action="{{ path('_bookmentor') }}">
    {{ form_row(form.username) }}
    <input type="submit" value="Suggest" />
</form>

<ul>
    {% for suggestion in suggestions %}
        <li class="suggestion">{{ suggestion }}</li>
    {% endfor %}
</ul>