{% extends 'AvojaBookMentorBundle::base.html.twig' %}

{% block body %}
    {% for suggestion in suggestions %}
        <li class="suggestion">{{ suggestion.title }}</li>
    {% endfor %}
{% endblock %}

{% block sidebar_links  %}

    {{ parent() }}


    <li><a href="http://www.webgriffe.com">Webgriffe</a></li>

{% endblock %}



