<html>
<head></head>

<body>

    <h1>BookMentor</h1>
    <h2>deSymfony - 16 junio 2012</h2>

    <ul>
        {% for suggestion in suggestions %}
            <li class="suggestion">{{ suggestion }}</li>
        {% endfor %}
    </ul>

</body>
</html>