<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            <ul>
                {% block sidebar_links %}
                    <li><a href="/">Home</a></li>
                    <li><a href="www.google.it">Google</a></li>
                {% endblock %}
            </ul>
        </div>

        khjhkjhkjhkh

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>